/*header {
}

<<<<<<< HEAD
.container {
	border: 2px solid black;
	
}*/

/*.logo {
	
}*/

#logo-text {
	color : #7ecf38;
	font-size: 25px;
	padding-top: 15px;
	margin-left: 15%;
}
.navbar-collapse ul {
 
	list-style-type: none;
	margin-right: 2%;
	margin-bottom: 10px;
	padding-top: 15px;
	float: right;
}

.navbar-collapse li  {
	float: left;
	padding: 0px;
	margin-right: 5px;
	font-size: 15px;

}

.social-media {
	list-style-type: none;
	clear: right;	
	float: right;
	margin-top: 5px;

}

.social-media li {
	float: left;
	margin-right: 10px;
	color: black;
}

.collapse a{
	color: #7ecf38;

}

.index-body {
	background-color: #ffffff;
}

/*body {

}
h2 {
	text-align: center;
	color: #14A817;
}


h3 {
	color: #14A817;
}

}*/
 p {
 	color: #474746;
 }
.hero-image {
	background-color: black;
}
#home-image {
	border: 2px solid black;

	height: 300px;
	margin-top: 5px;
	margin-bottom: 5px
}


#about-us {	
height: auto;
background-color: #fcf6d1;
}

#about-content {
	position: relative;
	color: ;
	margin-top: 5px;
	margin-left: 10%;
	margin-right: 10%;

}

#about-img {
	border: 2px solid black;
	height: 225px;
}

#about-text-wrap p {
		display: inline;
}

/** Homepage Gallery **/
#gallary {
	height: auto;
	padding-bottom: 20px;
}

.gallary-thumbnail {
	border: 2px solid black;
	height: 100px;
}

.gallary-arrow {
	height: 75px;
}

.glyphicon-chevron-left {
	font-size: 70px;
}

.glyphicon-chevron-right {
	font-size: 70px;
}

#index-body h2, #request h2 {
	text-align: center;
	color: #7ecf38;
}


#footer {
	height: auto;
	text-align: center;
}


.footer-ul {
	list-style-type:none;
	text-align: center;

}

.footer-ul li {
	float: left;
	margin-right: 20px;
	color: #7ecf38;
}

#social-icons h3{
	
}

/*.glyphicon {
	margin-top: 10px
}*/

/*.col-sm-10 {
	margin: 1, auto;
}*/

#media-icons {
	
}

/*h3 {
	text-align: center;
}*/

/** Request Section **/
#body-request {

	margin-top: 50px;
	height: auto;
}


#request {
	background-color: #fcf6d1;
}

#request-button {
	
}


.behind {
	position: relative;
	margin: 0 auto;
}

#header_nav {
	background-color: #262626;
}

body {
	background-color: #ffffff;
}

footer a {
	color: #7ecf38;
}


input:focus{

	border: 2px solid white;
}

#request-button {
	background-color: #7ecf38;
}