@import url(http://fonts.googleapis.com/css?family=Share+Tech);

@DarkCyan: #24B5CC;
@DarkGray: rgb(140, 140, 140);
@LightGray: rgb(221, 220, 220);

@yellow: #FFEE60;
@accent: #B32066;
@accent: #65a5ec;
@secondarycolor: #404745;
@lightsecondary: #A6CDF9;
@triarycolor:#104c89;
@palewhite: #f1ebdb;
@MainFont: 'Share Tech', sans-serif;
@logoFont:'Fontdiner Swanky', cursive;
@bgcolor: #181919;
@content: @palewhite;
html{
	width: 100%;
	height:100%;
}
body{
	background:@bgcolor;
	//background:url('../images/bg6.jpg') fixed;
	background-size: cover;
	height:auto;
	margin-bottom: -5em;
	font-size:12px !important;

	
}

h1,h2,h3,h4,h5,h6{
	font-family:@MainFont;
	
	.logo{
		font-family:@logoFont;
	}
}
a{
	font-family:@MainFont;
}
button{
	font-family: @MainFont;
}

.center{
	text-align:center;
}
.container{
	position:relative
}
.container-full {
  margin: 0 auto;
  width: 100%;
  padding: .2em 15px 0;
  position:relative;
}
.quote{
color: gray;
font-size: 90px;
font-family: Georgia;
position:absolute;
}

#wrap{
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto 2em;
}
img.behind {
width: 38% !important;
min-width: initial !important;
margin: 0 auto;
position: relative;
display: block;
}

.depth {
    display: block;
    // padding: 10px;
    color: black;
    font: bold 4em Arial, sans-serif;
    position: relative;
    width: 160px;
	margin: 0 auto;
}
.depth:before{
	// padding: 10px;
    color: rgba(247, 247, 247, 0.26);
    // color:fade(@accent, 2.6%);
    position: absolute;
    
}
#sight.depth:before{content: 'Sight';}
#sound.depth:before{content: 'Sound';}
#touch.depth:before{content: 'Touch';}

.depth:before { top: 1px; left: 1px }
.depth:after  { top: 2px; left: 2px }

.padd(){
	border-top: 4.2em solid @bgcolor !important;
}
.navbar-nav{
	margin:0;
}
#nav-space{
	height:5em;
	width:100%;
}
/** Naviation **/

.logo{
	font-family:@logoFont;
	color:@accent;
	max-height:2.2em;
}
.top-header{
	background:@palewhite;
	position:fixed;
	box-shadow: 1px 24px 23px -22px @bgcolor;
	z-index: 100;
	width:100%;

	img{
		height:5.5em;
		margin:0 auto;
		display:block;
	}
	li{
		float:right;
	}
}
@media (min-width: 768px) {
 .top-header .mine2 {
position: relative;
}
}

@media (min-width: 992px) {
.top-header .mine2 {
position: absolute;
top: 0;
right: 0em;
}
}

@media (min-width: 1200px) {
.top-header .mine2 {
position: absolute;
top: 0;
right: 0em;
}
}
.top-header li{
	float:none;
}
@media (min-width: 768px) {
 .top-header li {
position: relative;
float:left;
}
}
.nav{
	font-size: 14px;
}
.navbar{
	//background-color:@palewhite;
	margin-bottom:0px;
	// min-height:80px;
	border-bottom:0px !important;

	a{
		color:@accent !important;
	}
}

.navbar-header{
	background:fade(@palewhite, 86%);
	margin-top:-4em;
}

.navbar-brand{
	padding: 0 0 10px;

	h2{
		font-size:13px;
	}
}

.menu{
	background: @palewhite;
	z-index: 500;
}
button.circle{
background: #1F1F1F;
height: 7.5em;
border-radius: 80px;
padding: 90px 30px 50px;
color: @accent;
margin-top: -6.5em;
outline: none;

	&:hover{
		color:@triarycolor;
	}
}
.solid{
	background:@bgcolor;
}
.icon-bar{
	background:@accent;
}

/** Hero image **/
.jumbotron{
	background-color:@triarycolor;
	margin-bottom:0px;
	padding:0;
	width:100%;

	h1{
		color:@accent;
	}
}

.jumbo-details{
	background:url('realimages/crossword.png');
	color:black;
	padding-bottom: 0;
	font-size:15px;

	h2{
	text-align:center;
	font-size: 40px;
margin-top: 0;
	}
}

.carousel-indicators {
display: none;
}
.carousel-caption {
text-shadow: 6px 0px 5px rgba(0,0,0,.9);
bottom: 0 !important;
}
.header {
// background: fade(@bgcolor, 80%);
color:@accent;
//box-shadow: -4px 6px 16px -6px gray;

	ul{
		padding-top: 15px;
	}
}
.carousel .item {-webkit-transition: opacity 3s; -moz-transition: opacity 3s; -ms-transition: opacity 3s; -o-transition: opacity 3s; transition: opacity 3s;}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}

/** Buttons **/
.active a{
	background-color:@secondarycolor !important;
}
.hero-product{
	> a{
		float:left;
		margin: 2em 0px;
	}

	img {
		float:right;
	}
}
#Main{
	font-size: 1em;
color: black;
padding-bottom: 1em;
}


.search-bar{
	background:@LightGray;
	padding-top:10px;
}

.jumbo-details{
	padding-top: 10px;
}

.padding-btm{
	border-bottom:1px solid @accent;
	padding-bottom: 10px;
margin-bottom: 30px;
}

.white-box{
	background:white;
	margin-bottom: 2em;
	padding-top:1em;
}
.carousel-inner>.item>img{
	min-width:100%;
	max-width:none;
		height:495px;
}
.item {
max-height: 500px;
height:495px;
}


.pad-left{
	padding:30px 0 10px 65%;
}

em{
	color:@accent;
}

.sticky{
	height:2em;
}



#footer{
	background:@bgcolor;
	width: 100%;
	padding: 1em 0 1em;
	height: 7em;
}


.white{
	background:@palewhite;
	text-align:center;
	margin:0;
}

.mine{
	// background:@secondarycolor;
	position:relative;
	z-index:100;
	box-shadow: -4px 6px 16px -6px gray;
}
.nav.mine ul a {
padding: 0;
padding: 9px 9px 5px;
color:@bgcolor;
}
.mine2{
// background:@secondarycolor;
z-index: 200;
text-align: left;
> li{
	background:darken(@palewhite, 1%);
	@media (min-width:992px){
	float:right;
}
}
}

@media (min-width: 768px) {
 .mine2{
float: right;
}
}
.nav>li>a:hover, .nav>li>a:focus {
text-decoration: none;
background-color: rgba(0,0,0,0);
}
.navbar-collapse.collapse.in {
background: @palewhite;
width:100%;
}
    .mine2 > li:first-child {
margin-top: 3.82em;
}

@media (max-width: 1199px) {
	
}
#dummybodyid > div.container {
z-index: 200;
}
#nav-bar > li.dropdown.open > ul > li > a {
text-align: left;
}
.wrap{

}
@media (min-width: 1200px) {
.wrap{
	width:750px;
	margin:0 auto;
}
}

#logo{
	float:left;
	margin:0;
	cursor:pointer;
}
@media (max-width: 768px) {
  #logo{
  	max-height: 4em !important;
	float:left !important;
	margin:0 !important;
}
}

@media (min-width: 992px) {
	float:none;
	margin:0 auto;
}

@media (min-width: 1200px) {
	margin:0 auto;
}

.wrapper{
	width:100%;
	min-height: 423px;
	position:relative;
	color:@lightsecondary;
}

/** Modal Section **/
#responsive{
	background-color: transparent;
	border:0;
	box-shadow: none;
}
.modal-header{
	border-bottom: 0px;
	text-align: center;
}
.modal-body{
	// background:@palewhite;
}
.modal-backdrop, .modal-backdrop.fade.in {
opacity: 0.7;
filter: alpha(opacity=70);
background: black;
}

.modal{
	// background:@secondarycolor;
	color:@accent;

@media (min-width: 768px) {
  
}

@media (min-width: 992px) {
	top: 38%;
}

@media (min-width: 1200px) {

}
}
.modal-title{
	h4{
	font-size: 23px;
}
}
.modal-footer {
margin-top:0;
border-top: 0;
}
#insert > div {
margin-top: 1em;
}
/** Cart Section **/
.added {
font-size: 14px;
color:#5cb85c;
line-height: 0;
opacity:0;
 -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}
.reveal{
	font-size: 14px;
	opacity:1;
	line-height: 4;
}

/** Home stuff **/

footer{
	li{
		color:@secondarycolor;
	}

	a{
		color:@secondarycolor;
		&:hover{
			text-decoration: underline;
		}
	}
}
em{
font-variant: normal;
font-style: normal;
color: @secondarycolor;
font-size: 19px;
}
li>h3 {
margin: 0;
margin-bottom: .1em;
margin-top: -.4em;
}

/** Gallery Section **/
.galley {
margin-bottom: 1em;
margin-top: 1em;
}
/** Do not use. Copy and paste for MOBILE FIRST **/
@media (min-width: 768px) {
  
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
